*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html, body {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  }
  
  